#title {
    color: white;
    background-color: rgb(74, 74, 110);
    font-size: 40px;
    font-weight: 700;
    align-self: stretch;
    text-align: center;
    padding: 20px;
}

body,
.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    height: 100vh;
    justify-content: space-between;
    gap: 50px;
    background-color: rgb(174, 174, 255);
    margin: 0;
}

.calculator {
    gap: 20px;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(183, 179, 179);
    padding: 10px;
    justify-content: stretch;
}

#display {
    border: 1px solid;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

button {
    height: 50px;
    width: 50px;
    border-radius: 2px;
}

#footer {
    background-color: rgb(74, 74, 110);
    color: white;
    align-self: stretch;
    text-align: center;
    padding: 30px;
}